.picbox{
  background-image: url(../src/house.jpeg);
  width: 100%;
  height:300px;
  background-size: cover;
  background-repeat: no-repeat;
}
.main{
  width: 500px;
  height: 600px;
  border-radius: 10px;
  
  /* background-color: aqua; */
}
body{
  margin: 0;
  padding: 0;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  /* font-family: "Poppins", sans-serif; */
}

#root{
  display: flex;
  margin: 10px;
  gap: 10px;
  height: 100vh;
}
h1.drink{
  color: brown;
}
p{
  font-family: sans-serif;
}